// Settings
$grid-columns: 12;

$root-font-size-int: 20; // unsigned px
$root-font-size: $root-font-size-int * 1px;

// Change the grid settings
$column: 80px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1180,$root-font-size-int);

// Set breakpoints
$led: new-breakpoint(min-width 300px $grid-columns);
$flashlight: new-breakpoint(min-width 480px $grid-columns);
$desklamp: new-breakpoint(min-width 600px $grid-columns);
$chandelier: new-breakpoint(min-width 768px $grid-columns);
// $lighthouse
// $sun


// Use mixin
.columns {

  @include clearfix;
  @include griddy(1);
  @include media($led) {
    @include griddy(2);
  }

  &.six-wide {
    @include media($desklamp) {
      @include griddy(3);
    }
    @include media($chandelier) {
      @include griddy(6);
    }
  }

  &.four-wide {
    @include media($desklamp) {
      @include griddy(4);
    }
  }
  img {
    width: 100%;
  }

}


// For prettiness
figure {
  text-align: center;
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}
