// Settings
$grid-columns: 12;

$root-font-size-int: 20; // unsigned px
$root-font-size: $root-font-size-int * 1px;

// Change the grid settings
$column: 80px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1180,$root-font-size-int);

// Set breakpoints
$flashlight: new-breakpoint(min-width 480px $grid-columns);
$chandelier: new-breakpoint(min-width 768px $grid-columns);


// Mixin
@mixin griddy($cols) {
  > *{
    @if($cols > 1) {
      @for $i from 1 through $cols {
        &:nth-child(#{$i}n) {
          margin-right: flex-gutter();
          clear: none;
        }
      }
      @include span-columns($grid-columns / $cols);
      @include omega($cols*1n);
    }
    @else {
      @include fill-parent();
    }
  }
}


// Use mixin
.columns {
  @include clearfix;

  &.six-wide {
    @include griddy(2);
    @include media($flashlight) {
      @include griddy(4);
    }
    @include media($chandelier) {
      @include griddy(6);
    }
  }

  &.four-wide {
    @include griddy(1);
    @include media($flashlight) {
      @include griddy(2);
    }
    @include media($chandelier) {
      @include griddy(4);
    }
  }

}

// For prettiness
figure {
  text-align: center;
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}
