ul.grid {
    display: block;
}
ul.grid:after {
    clear: both;
    content: "";
    display: table;
}
ul.grid > *:nth-child(n+1) {
    clear: none;
    display: inline;
    float: left;
    margin-right: 1.88679%;
    width: 23.5849%;
}
ul.grid > *:nth-child(2n+2) {
    clear: none;
    display: inline;
    float: left;
    margin-right: 1.88679%;
    width: 23.5849%;
}
ul.grid > *:nth-child(3n+3) {
    clear: none;
    display: inline;
    float: left;
    margin-right: 1.88679%;
    width: 23.5849%;
}
ul.grid > *:nth-child(4n+4) {
    clear: none;
    display: inline;
    float: left;
    margin-right: 1.88679%;
    width: 23.5849%;
}
ul.grid > *:nth-child(4n+4) {
    display: inline;
    float: right;
    margin-right: 0;
}
ul.grid > *:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 56.25em) {
    ul.grid > *:nth-child(n+1) {
        clear: none;
        float: left;
        margin-right: 1.88679%;
        width: 32.0755%;
    }
    ul.grid > *:nth-child(2n+2) {
        clear: none;
        float: left;
        margin-right: 1.88679%;
        width: 32.0755%;
    }
    ul.grid > *:nth-child(3n+3) {
        clear: none;
        float: left;
        margin-right: 1.88679%;
        width: 32.0755%;
    }
    ul.grid > *:nth-child(3n+3) {
        float: right;
        margin-right: 0;
    }
    ul.grid > *:nth-child(3n+1) {
        clear: both;
    }
}

@media (max-width: 43.5em) {
    ul.grid > *:nth-child(n+1) {
        clear: none;
        float: left;
        margin-right: 1.88679%;
        width: 49.0566%;
    }
    ul.grid > *:nth-child(2n+2) {
        clear: none;
        float: left;
        margin-right: 1.88679%;
        width: 49.0566%;
    }
    ul.grid > *:nth-child(2n+2) {
        float: right;
        margin-right: 0;
    }
    ul.grid > *:nth-child(2n+1) {
        clear: both;
    }
}

@media (max-width: 30em) {
    ul.grid > *:nth-child(n+1) {
        float: left;
        margin-right: 1.88679%;
        width: 100%;
    }
}
